
html, body {
    font-family: 'Space Grotesk SemiBold', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.MudDrawer {
    width: 250px;
    background-color: #1c1c1c;
}

.MudAppBar {
    background-color: #333;
}

.MudPaper {
    padding: 20px;
}
